@font-face {
    font-family: 'regular';
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'bold';
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'black';
    src: url(../fonts/Montserrat-Black.ttf);
}

@font-face {
    font-family: 'extra';
    src: url(../fonts/Montserrat-ExtraBold.ttf);
}

@font-face {
    font-family: 'light';
    src: url(../fonts/Montserrat-Light.ttf);
}

@font-face {
    font-family: 'thin';
    src: url(../fonts/Montserrat-Thin.ttf);
}

@font-face {
    font-family: 'semi';
    src: url(../fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: 'medium';
    src: url(../fonts/Montserrat-Medium.ttf);
}